<div class="row">
    <div class="col-md-8">
        <Map @map={{this.model.map}} @player={{ this.model.player }}/>
    </div>
    <div class="col-md-4">
        <Sidepanel @player={{ this.model.player }}/>
    </div>
</div>