<div class="row">
    <div class="col-md-9 map-super-container">
        <Map @map={{this.model.map}} @player={{ this.model.player }}/>
    </div>
    <div class="col-md-3 sidepanel-super-container">
        <Sidepanel @player={{ this.model.player }}/>
    </div>
</div>
