<table class="index-panel">
    <div class="row">
        <div class="col-sm">
            <Map/>
        </div>
        <div class="col-sm">
            <Sidepanel @character={{ this.model }}/>
        </div>
    </div>
</table>