<h3>Create Character</h3>

<BsForm @formLayout="vertical" @model={{this}} as |form|>
  <form.element @controlType="text" @label="Character Name" @placeholder="Character Name" @property="name" @required={{true}} />
  <form.element @controlType="password" @label="Password" @placeholder="Password" @property="password" @required={{true}} @helpText="Minimum 6 characters" />
  <BsButton @defaultText="Submit" @type="primary" @buttonType="submit" />
</BsForm>
