<table>
{{#each-in tiles as |rown row| }}
    <tr>
        {{#each-in row as |celln cell| }}
            <Map-Tile
              @x={{celln}}
              @y={{rown}}
              @content={{cell.content}}
            />
        {{/each-in}}
    </tr>
{{/each-in}}
</table>